<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:300i,400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="static/css/index.css">
    <link rel="stylesheet"  href="static/css/styles.css">

    <!--Titulo de la pagina web-->
    <title>Difusa</title>

    
</head>



<body>
    <header>
    <h1 class="centrado">Lógica difusa</h1>
    </header>
    <header>
        <nav class="navbar navbar-light bg-light">
            <form class="container-fluid justify-content-start">
              <button class="btn btn-outline-success me-2" type="button">Botón principal</button>
              <button class="btn btn-sm btn-outline-secondary" type="button">Botón más pequeño</button>
            </form>
          </nav>
    </header>

    <div class="container">
        <p class="centrado">Hola mundo</p>
    </div>

    <div class="contenedor_general">
        <div class="elemento_fotografia_1">
            <div class="titulo_elemento">ejrnkr </div>
        </div>

        <div class="elemento_fotografia_2">
            <div class="titulo_elemento"> fnice</div>
        </div>

        <div ></div>

    </div>
</body>


</html>